IMHO, according to [RFC7231 section 3.1.1.5](https://tools.ietf.org/html/rfc7231#section-3.1.1.5), if the content-type is missing, it should assume a media type of "application/octet-stream" ; the other option is to guess the content type, but I'm not a gambler.

The problem is, as the content type is not mandatory, HttpHeaders.getContentType() should never fail.
However, when the response from a REST request, for example, returns an error 4xx or 5xx, the `DefaultResponseErrorHandler` wants to read the body to get the message, so it asks for the content-type, and it fails.
So, instead of getting a `HttpStatusCodeException`, it is a `InvalidMediaTypeException` from the `InvalidMimeTypeException`, which break completely the dynamic of the flow, for nothing.

But... we are in Spring, and Spring is awesome at giving us options.
Maybe it would be interesting to have the content-type of the request as default content-type of the response if missing ?
Or maybe being able to define it in a property ?

That problem was blocking, for my company, because when accessing to our [OpenText ECM](https://www.opentext.com/products-and-solutions/products/enterprise-content-management) API, sometimes the content-type is missing on 4xx or 5xx responses...
So for those who have that kind of problem, here is a "dirty" solution.
You need to create a `ClientHttpRequestInterceptor` to put in the `RestTemplate` you created or got from Spring instance. And you put something like that in that interceptor (I put JSON because it's what the ECM sends me) :
```java
	@Override
	public ClientHttpResponse intercept(HttpRequest request, byte[] body, ClientHttpRequestExecution execution) throws IOException {
		
		ClientHttpResponse response = execution.execute(request, body);

		try {
			response.getHeaders().getContentType();
		} catch (InvalidMediaTypeException exception) {
			response.getHeaders().put(HttpHeaders.CONTENT_TYPE, Collections.singletonList(MediaType.APPLICATION_JSON_UTF8_VALUE));
		}
		
		return response;
	}
```
Be careful to use a `put` and not an `add`, because `getContentType` do a `getFirst` and would never ever find your "default" content-type...

Have fun... waiting for the fix...

Where exactly is it failing, in `DefaultResponseErrorHandler#getCharset`? Indeed that's a spot where it should ignore parse errors.

BTW you're commenting on issue that is related but in a very different part of the codebase. Can you please create a separate issue for it?

Yes, it is the in `DefaultResponseErrorHandler#getCharset`, indeed.
But... as, from my opinion, it is a problem in 'HttpHeaders.getContentType()' that should send back `application/octet-stream`, whatever if it is a request or a response, instead of an `InvalidMediaTypeException`, then I put it here.

Asking for further changes on an issue resolved almost 3 years ago isn't going to get this any further. Also keep in mind a change like that the level of `HttpHeaders` isn't going to happen. The number of follow up reports rightfully claiming broken behavior is too easy to anticipate. Falling back on application/octet-stream is not the same as ignoring a parse failure.