Last-Modified Date format changed with SPR-17571 to not have double digit day

RFC-7231 shows preferred date format to include a double digit, rather than single digit day:
https://tools.ietf.org/html/rfc7231#section-7.1.1.1

RFC-1123, which uses RFC-822 allows for both single and double digit days:
https://tools.ietf.org/html/rfc822#section-5

SPR-17571 changed from using a specified format to using the JDK's DateTimeFormatter which allows for 1 or 2 digit days:
https://github.com/frohoff/jdk8u-dev-jdk/blob/da0da73ab82ed714dc5be94acd2f0d00fbdfe2e9/src/share/classes/java/time/format/DateTimeFormatter.java#L1247

Many existing date parsers are expecting date formats based on the HTTP 1.1 spec that specifies double digit days, not the RFC-822 spec which allows for either. So many applications started complaining about date parsing when Last-Modified started coming back in this format:

Last-Modified: Tue, 5 Feb 2019 14:36:47 GMT

Additionally, sites like the Mozilla Developer Network specify a two digit day:
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Last-Modified



Should we expect Spring to follow RFC-7231 section 7.1.1.1 in this case or RFC-822? Was this a conscious decision? 

SPR-17571 only really provided some convenience accessors around this. The original change that affected the day representation rather seems to be SPR-15661 (#20220).

@sdeleuze, this seems to affect the 5.0.x branch as well. Whatever we do about it, let's also backport it to 5.0.13.