Update ContentDisposition to refer to RFC 6266

`ContentDisposition` was originally created in reference to [RFC 2183](https://tools.ietf.org/html/rfc2183) which is a non-HTTP spec. This was what the old HTTP spec [RFC 2616 refers to](https://tools.ietf.org/html/rfc2616#section-19.5.1) (via RFC 1806, later updated by 2183).

[RFC 6266](https://tools.ietf.org/html/rfc6266) is the current HTTP spec that defines the use of `Content-Disposition` in HTTP and supersedes the same from RFC 2616. 

[Appendix B](https://tools.ietf.org/html/rfc6266#appendix-B) of RFC 6266 lists several fields from RFC 2183 that are omitted including "creation-date", "modification-date", "read-date", and "size". We can deprecate those in `ContentDisposition` to be removed eventually.